@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
body{
    background-color: hsl(27, 66%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.125rem;
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    color: hsl(25, 47%, 15%);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    padding:1em;
    border-radius: 10px;
    color:  hsl(27, 66%, 92%);
}


main{
    padding: 0vh;
    display: flex;
    gap: 18px;
    flex-direction: column;
    background-color:hsl(33, 100%, 98%);
    border-radius: 10px;
    padding: 10px 26px;
}

main h2{
    padding-bottom:15px;
    font-weight: 700;

}
.week-chart{
    display: flex;
    gap: 10px;
    align-items: end;
    height: 180px;

    justify-content: space-evenly;
}


.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(28, 10%, 53%);
    padding: 0px 5px;
    padding-bottom:15px;

}
h1{
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}
.total-cont{
    float: left;
    padding: 0px;
}
.total-per{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.total-per span{
    font-weight: 700;
    float: right;
    color: hsl(25, 47%, 15%);
}